@import url('https://fonts.googleapis.com/css?family=Poppins&disply=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(249,71,85,1) 100%);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb { 
    background:#201E2B;
    border-radius: 6px ;
}
header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display:  flex;
    justify-content: space-between ;
    align-items: center;
    z-index:1000;
}
 .sticky {
    background: #F543D5;
    box-shadow: 0 5px 10px #201e2b4d ;
}
header .logo { 
    position: relative;
    color: #fff ;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav { 
    display : flex; 
    justify-content: center;
    align-items:center;
}
header ul li  {
    list-style: none ; 
    margin : 10px;
}
header ul li a {
    color:#fff;
text-decoration: none ;
padding: 10px 20px ;
border-radius: 5px ;
}
header ul li a:hover { 
    background: #9D00FF  ;
    color : #201E2B ;
    box-shadow: 0 0 10px #9D00FF ;
}
header .action .searchBx { 
    padding: 5px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background : #fff;
    border-radius : 5px ;
}
header .action .searchbx i {
    font-size : 1.4em;
    margin : 5px;
    color: #201E2B;
}
header .action .searchbx input { 
      outline: none;
      border: none ;
      font-size: 1em ; 
      color : #222;
}
.banner {
    position:relative;
    width : 100%;
    min-width: 100vh;
    padding: 0px 100px ;
    display: flex ;
    justify-content:center;
    align-items:center;

}
.banner .bg{
    position: relative;
    width:100%;
    min-height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}


.banner .bg .content {
    width :50%;
    height: 50%;
}
.banner .bg .content h4 {
    font-size:4em;
    color: #fff;
    letter-spacing: px;
}
.banner .bg .content p {
    font: size 1em;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #F543D5;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content a:hover {
    background: #F543D5;
    border: none;
    color: #201E2B;
    box-shadow: 0 0 10px #F543D5;
}
.about { 
    width: 100%;
    min-height: 90vh;
   padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

.about .contentbx h2{ 
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.about .contentBx p{
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}

.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #F543D5;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.about .contentBx a:hover {
    background: #F543D5;
    border: none;
    color: #201E2B;
    box-shadow: 0 0 10px #F543D5;
}
/* Games */
.games {
    padding: 0px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto ;
   }
   .card img {
    max-width: 100%;
   max-height: 100% ; 
   }
   .games h2 {
    color: #fff;
    margin: 10px 0 ;
   }
   .games ul {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 20px;
   }
   .games ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
   }
   .games ul li.active{
    background: #9D00FF;
    color: #201E2B;
    box-shadow: 0 0 10px #9D00FF ;
   }
   .games .cardbx{
    width: 100%;
    min-height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
   .games .cardbx .card {
    width: 250px;
    border-radius: 10px ;
    margin: 15px 30px;
    background: #201E2B;
    overflow: hidden;
   }
   .games .cardbx .card .content {
    padding: 10px;
   }
   .games .cardbx .card .content h4 {
    color: #fff;
    margin: 15px 0;
   }
   .games .cardbx .card .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #dbd9d9;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate  1s cubic-bezier(1,0,0.5,1)forwards;
   }
   .games .cardbx .card .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #F543D5;
    box-shadow: 0 0 10px #F543D5;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate  1s cubic-bezier(1,0,0.5,1)forwards;
   }
   @keyframes animate {
    100% {
        transform: scaleX(1);
    }
   }
   .games .cardbx .card .info {
    border-top: 2px solid #9D00FF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .games .cardbx .card .info p {
    font-size: 1em;
    color: #fff;
   }
   .games .cardbx .card .info p  span {
    color: #9D00FF;
   }
   .games .cardbx .card .info a{
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 0;
    border: 1px solid #F543D5;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
 .games .cardbx .card .info a:hover {
    background: #F543D5;
    border: none;
    color: #201E2B;
    box-shadow: 0 0 10px #F543D5;
}
.games .cardbx .card.hide {
    display: none;
}
.Tournaments{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Tournaments h2 {
    color: #fff;
    margin: 30px 0;
}
.Tournaments .boxBx {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Tournaments .boxBx .box {
    width :350px;
    border-radius: 10px;
    margin: 30px 30px;
    background: #222;
    overflow: hidden;
}
.Tournaments .boxBx .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.Tournaments .boxBx .box .content {
    padding: 5px;
}
.Tournaments .boxBx .box .content h4{
    color: #fff;
    margin-top: 15px;
}
.Tournaments .boxBx .box .content h4 span {
    color: #FF2454;
}
.Tournaments .boxBx .box .content p{
    text-align: justify;
    color: #dbd9d9;
    margin-top: 10px;
}
.Tournaments .boxBx .box .content .btn {
    display: flex;
    justify-content: space-between;
}
.Tournaments .boxBx .box .content .watch{
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 0;
    background: #FF2454;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #201E2B ;
    letter-spacing: 1px;
    box-shadow: 0  0 10px #FF2454;
}
.Tournaments .boxBx .box .content .watch:hover {
    border: 1px solid #FF2454;
    background: none;
    color: #fff;
    box-shadow: none;   
  }
    .Tournaments .boxBx .box .content .join{
        display: inline-block;
        padding: 10px 10px;
        margin: 20px 0;
        border: 1px solid #dc2c3f;
        text-decoration: none;
        font-weight: 700;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 1px;
    }
    .Tournaments .boxBx .box .content .join:hover {
        background: #FF5757;
        border: none;
        color: #201E2B;
        box-shadow: 0 0 10px #FF5757;   
     }
     /* contact */ 
     .contact { 
        padding: 30px 100px;
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .contact img{
        height: 100%;
        width: 55%;
        Object-fit: cover;
        border-radius: 5px;
     }
     .contact .form{
        width: 80%;
        margin: 20px;
     }
     .contact .form h1 {
        color: #fff;
     }
     .contact .form .inputBx {
        margin: 10px 0;
     }
     .contact .form .inputBx p{
        color: #fff;
     }
     .contact .form .inputBx input,
      .contact .form .inputBx textarea {
        border: none;
        outline: none;
        padding: 10px;
        width: 100%;
        color: #fff;
        background: #201E2B;
        min-height: 15px;
        font-size: 1.1em ;
      }
      .contact .form .inputBx textarea{
        height: 150px;
      }
      .contact .form .inputBx input [type="submite"]{
        display: inline-block;
        padding: 10px 20px;
        margin: 15px 0;
        outline: none;
        background: transparent;
        border: 1px solid #FF2454;
        text-decoration: none;
        font-weight:  700;
        width:  150px;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 1px;
      }